<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">CrowdFunder</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="<%= 'active' if current_page? root_path %>">
            <%= link_to 'Home', :root %>
          </li>
          <li class="<%= 'active' if controller_name == "projects" %>">
            <%= link_to 'Projects', :projects %>
          </li>
        </ul>
      </div><!--/.nav-collapse -->

      <div class="nav-collapse collapse pull-right">
        <ul class="nav">
          <% if logged_in? %>
            <li>Logged in as <%= [current_user.first_name, current_user.last_name].join(' ') %></li>
            <li><%= link_to "Log out", '#' %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
